body {



}

.auto-style1 {
    font-size: x-large;
    font-weight: bold;
}

.auto-style2 {
    width: 1490px;
}

.auto-style3 {
    width: 297px;
    height: 23px;
}

.auto-style4 {
    height: 627px;
}